{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'operation/style.css' %}">
{% endblock %}

{% block title %}
Operación
{% endblock %}

{% block content %}
<div class="container">
    <div class="map-container hidden" id="map-container">
        <div class="map" id="map"></div>
    </div>
    
    <div class="selection-container">
        <form class="form form--selectionRoute" action="">

            <h3 class="form__title">Selecciona el municipio</h3>
            <select name="selectCity" class="form__select" id="city">
                <option value="0">Selecciona una opción</option>
                <option value="1">Magangué</option>
                <option value="2">Sincelejo</option>
            </select>

            <h3 class="form__title">Selecciona la ruta</h3>
            <select name="selectRoute" class="form__select" id="route">
                <option value="0">Selecciona una opción</option>
            </select>

            <button id="selectButton" type="submit">Seleccionar</button>
        </form>
	</div>
</div>
<div class="modal-container hidden" id="modal-container" >
    <div class="modal" id="modal">
        <p class="modal__text">
            La simulación ha finalizado
        </p>
        <p class="modal__text">
            Para ver los resultados presione el botón
        </p>
        <a id="modal__link" href="{% url 'operation:resultsPage' 0 %}"><button class="modal__button">Ver resultados</button></a>
    </div>
</div>
{% endblock %}
{% block scripts%}
<script src="{% static 'operation/script.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjXlEpe2ImTR5vJUGYtkGgGaJD6p0W7XI"></script>
{% endblock %}