{% extends 'base/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block title %}
Energética2023
{% endblock %}

{% block content %}
<div class="container">
    <h3 class="title title--OptiMEV">Opti - MEV</h3>
    <div class="image-container">
        <img class="image image--Energetica2030" src="{% static 'home/ENER2030.png' %}">
    </div>
    <p class="description description--firstParagraph">
        La planeación, el diseño y la implementación de sistemas multimodales de transporte son factores a tener en cuenta en el desarrollo de proyectos. A partir de esto, el software Opti - MEV estima la viabilidad técnica y económica en la operación, fundamentado en tres etapas: proyección de la demanda energética en la agregación de vehículos al sistema, viabilidad financiera en la implementación de vehículos eléctricos y/o híbridos y optimización en la operación de cada uno de los modos de transporte.
    </p>
    <p class="description description--secParagraph">
        Este software está enmarcado en la alianza interinstitucional Energética 2030 en el proyecto de movilidad sostenible. El proyecto “Estrategia de transformación del sector energético colombiano en el horizonte de 2030” ha recibido financiación de la convocatoria 778 del programa “Ecosistema Científico” de Minciencias bajo el acuerdo de subvención FP44842-210-2018.
    </p>
</div>
{% endblock %}